<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.pl.clouddietapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activities.PhotoRemoverActivity"
            android:label="Photo removal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RecipeDetailsActivity"
            android:label="Recipe details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RecipesActivity"
            android:label="Recipes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EditDataActivity"
            android:label="Edit data"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQfaiHQGQvpGe0v2Bof6_PlpN621-1Nrk" />

        <activity
            android:name=".activities.FridgeContentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PreferenceActivity"
            android:label="Preferences"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MapActivity"
            android:label="Supermarkets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PickLocationActivity"
            android:label="Pick home location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DeleteAccountActivity"
            android:label="Delete account"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:label="Reset password"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="Register"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PermissionActivity"
            android:label="PermissionActivity" />
        <activity
            android:name=".activities.LocationPermissionActivity"
            android:label="PermissionActivity" />
        <activity
            android:name=".activities.AuthenticationActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" />
    </application>

</manifest>