<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.pl.clouddietapp">

    <uses-permission android:id="android.permission.INTERNET" />
    <uses-permission android:id="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:id="android.permission.WAKE_LOCK" />
    <uses-permission android:id="android.permission.READ_PHONE_STATE" />
    <uses-permission android:id="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:id="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:id=".activities.AddFridgeItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:id=".activities.FridgeContentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:id=".activities.PreferenceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:id=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:id=".activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:id=".activities.AuthenticationActivity">
            <intent-filter>
                <action android:id="android.intent.action.MAIN" />

                <category android:id="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:id="org.eclipse.paho.android.service.MqttService" />

    </application>

</manifest>